{
  "extends": "react-app",
  "rules": {
    "indent": [ "error", 2 ],
    "linebreak-style": [ "error", "unix" ],
    "no-console": [ "warn" ],
    "no-debugger": [ "warn" ],
    "quotes": [ "error", "single" ],
    "semi": [ "error", "always"]
  }
}